
.body{
    text-align: center;
}
.parent{
    border:2px solid black;
    text-align:center;
    border-radius: 20px;
    width: 70%; /* Set a width */
    margin: 0 auto;
    box-shadow: 5px 5px 10px rgb(10, 10, 10);
}
#toggle{
    text-align: right;
    height: 40px;
    margin-left: 90%;
    
}
.div1 h1,p,.div3 label{
    /*font-family: 'Dancing Script', cursive;*/
    font-family: 'Montserrat', sans-serif;
    
}
.div2 button{
    background-color: black;
    color:white;
    font-size: larger;
    border-radius: 10px;

}
.div2 input{
    font-size: larger;
    border:3px solid rgb(11, 11, 11);
    margin:10px;
    border-radius: 10px;
}
.div3{
    font-size: medium;
}

@media screen and (max-width:420px) 
 {
    .parent{
        width: 100%;
    }

    .div2{
        margin:10px;
        display:flex ;
        flex-direction: column;
    }
    
}
.myfooter{
    border:2px solid black;
    margin-top: 29vh;

}
.div4{
display: flex;
flex-direction: column;
}